<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><!-- 默认使用最新浏览器 -->
    <meta http-equiv="Cache-Control" content="no-siteapp" /><!-- 不被网页(加速)转码 -->
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui" />
    <title>HTTP/2 Terminal Detection</title>
    <meta name="keywords" content="http2,spdy,http protocol,http2 协议,http 检测,useragent"/>
    <meta name="description" content="检测终端设备是否支持HTTP2协议，SPDY协议检测，查看UserAgent"
    <style>
        body {
            font-family: "Helvetica Neue", "Microsoft YaHei", Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            max-width: 960px;
            margin: 5em auto;
        }
        h1 {
            text-align: center;
        }
        #main_page > *{
            font-size: 18px;
            text-align: center;
        }

        @media (max-width: 768px) {
            body {
                margin: 5em 1em;
            }
        }
    </style>
</head>
<body>
<h1>
    Welcome to HTTP2/SPDY Terminal Detection{{title}}
</h1>
<h2>
    {{title}}
</h2>
    
    <section id="main_page">
        <p>{{userAgent}}</p>
        <p style="font-size: 24px;">{{isSpdy}}</p>
        <h2 style="font-size: 24px;">协议类型： {{protocol}}</h2>
    </section>
</body>
</html>