<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><!-- 默认使用最新浏览器 -->
    <meta http-equiv="Cache-Control" content="no-siteapp" /><!-- 不被网页(加速)转码 -->
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui" />
    <title>SPDY/H2 终端统计</title>
    <!-- jQuery -->
    <script type="text/javascript" src="/lib/dependents/jquery/jquery.min.js"></script>
    <!--[if lt IE 9]>
        <script src="/lib/dependents/bootstrap/plugins/ie/html5shiv.js"></script>
        <script src="/lib/dependents/bootstrap/plugins/ie/respond.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
        <script src="/lib/dependents/bootstrap/plugins/ie/json2.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/lib/dependents/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/lib/jquery.dtGrid.css" />
</head>
<body>
    
    
<div id="grid_container" class="dt-grid-container">
    <h1>SPDY/H2 终端统计</h1>
    <div style="overflow: hidden; width: 768px; margin: 10px auto;font-size: 18px;">
        {{if ref}}
        <p>统计来源：{{ref}}</p>
        {{else}}
        <a href="/ua/index">查看统计列表</a>
        {{/if}}
    </div>
    <div id="container"></div>
</div>

<script type="text/javascript" src="/lib/highcharts.js"></script>
<script type="text/javascript">
    var statistics = {
        data: {{#data}},
        total: {{#total}},
        ref: '{{#ref}}'
    };
        
    $('#container').highcharts({
        chart: {
            type: 'pie'
        },
        title: {
            text: 'Terminal device HTTP/2 support statistics. '
        },
        subtitle: {
            text: statistics.ref ? ('统计 PV 总共' + statistics.total + '次') : ('总共取样终端浏览器 ' + statistics.total + ' 个')
        },
        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    format: '{point.name}: {point.y:.1f}%'
                }
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },
        series: [{
            name: 'Agent Name',
            colorByPoint: true,
            data: statistics.data
        }]
    });
</script>
</body>
</html>
