<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><!-- 默认使用最新浏览器 -->
    <meta http-equiv="Cache-Control" content="no-siteapp" /><!-- 不被网页(加速)转码 -->
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui" />
    <title>SPDY/H2 终端统计</title>
    <!-- jQuery -->
    <script type="text/javascript" src="/lib/dependents/jquery/jquery.min.js"></script>
    <!-- bootstrap -->
    <script type="text/javascript" src="/lib/dependents/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/lib/dependents/bootstrap/css/bootstrap.min.css" />
    <!--[if lt IE 9]>
        <script src="/lib/dependents/bootstrap/plugins/ie/html5shiv.js"></script>
        <script src="/lib/dependents/bootstrap/plugins/ie/respond.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
        <script src="/lib/dependents/bootstrap/plugins/ie/json2.js"></script>
    <![endif]-->
    <!-- font-awesome -->
    <link rel="stylesheet" type="text/css" href="/lib/dependents/fontAwesome/css/font-awesome.min.css" media="all" />
    <!-- dtGrid -->
    <script type="text/javascript" src="/lib/jquery.dtGrid.js"></script>
    <script type="text/javascript" src="/lib/i18n/zh-cn.js"></script>
    <link rel="stylesheet" type="text/css" href="/lib/jquery.dtGrid.css" />
</head>
<body>
    
    
<div id="grid_container" class="dt-grid-container">
    <h1>SPDY/H2 终端统计</h1>
    <div style="width: 768px; margin: 10px auto;">
        <a href="/ua/charts" style="font-size: 18px;">查看统计图</a>
    </div>
</div>
<div id="grid_tool" class="dt-grid-toolbar-container"></div>


<script type="text/javascript">
    (function (global, $, undefined) {
        var gridColumns = [
            {id:'hash_id', title:'ID', type:'string', hideType: 'lg|md|sm|xs'},
            {id:'os_name', title:'平台类型', type:'string'},
            {id:'os_version', title:'平台版本', type:'string'},
            {id:'agent_name', title:'终端名称', type:'string'},
            {id:'agent_version', title:'终端版本', type:'string'},
            {id:'is_spdy', title:'H2是否可用', type:'string'},
            {id:'protocol', title:'协议版本', type:'string'},
            {id:'ua_string', title:'原始 userAgent', type:'string', hideType:'lg|md|sm|xs'},
        ];
        var girdOption = {
            lang: 'zh-cn',
            ajaxLoad: true,
            loadURL: '/ua/getdata',
//            loadAll: true,
            columns: gridColumns, 
            gridContainer: 'grid_container',
            toolbarContainer: 'grid_tool',
            tools : '',
            pageSize: 20,
            pageSizeLimit: [20, 50, 100]
        };
        var grid = $.fn.DtGrid.init(girdOption);
        grid.load();
    })(window, jQuery);
</script>
</body>
</html>
