<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>http 1.1/2 多连接 DEMO</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
</head>
<body>
    <script>
        var startTime = 0;
        function load_complete() {
            if (!startTime) {
                startTime = new Date().getTime();
            }
            var load_time = new Date().getTime() - startTime;
            load_time = (load_time / 1000).toFixed(2);
            document.getElementById('img_time').innerHTML = load_time;
        }
        
        window.onload = function () {
            try {
                var start_time = parseInt(document.getElementById('start_time').value),
                    page_time = new Date().getTime() - start_time;
                document.getElementById('page_time').innerHTML = (page_time/1000).toFixed(2);
                parent.load_frame2();
            } catch (err) {
                console.log(err);
            }
        }
    </script>
    <h3>
        <input id="start_time" type="hidden" value="{{start_time}}"/>
        Page Load Time: <span id="page_time">0</span>
    </h3>
    <h3>
        Img Load Time: <span id="img_time">0</span>
    </h3>
    <section id="img_area">
        {{each sequence as value index}}
            <img onload="load_complete()" src='/img/price/{{value.img}}'/>
        {{/each}}
    </section>
</body>
</html>